@import '../../../style/functions/flex.scss';
@import '../../../style/functions/size.scss';
@import '../../../style/colors.scss';

.yellow {
  background-color: $yellow;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}
