@import '../../style/functions/table.scss';
@import '../../style/functions/size.scss';
@import '../../style/functions/flex.scss';
@import '../../style/config.scss';
@import '../../style/colors.scss';

.labels {
  display: grid;
  grid-template-columns: 35px 53px 53px 53px 54px 54px 54px 53px 53px 51px 35px;
  grid-template-rows: 35px 53px 53px 53px 54px 54px 54px 53px 53px 51px 35px;

  > div {
    &:not(.children) {
      @include flexCenter();
    }

    &:nth-child(1) {
      @include column(2);
      @include line(1);
    }
    &:nth-child(2) {
      @include column(3);
      @include line(1);
    }
    &:nth-child(3) {
      @include column(4);
      @include line(1);
    }
    &:nth-child(4) {
      @include column(5);
      @include line(1);
    }
    &:nth-child(5) {
      @include column(6);
      @include line(1);
    }
    &:nth-child(6) {
      @include column(7);
      @include line(1);
    }
    &:nth-child(7) {
      @include column(8);
      @include line(1);
    }
    &:nth-child(8) {
      @include column(9);
      @include line(1);
    }
    &:nth-child(9) {
      @include column(10);
      @include line(1);
    }

    &:nth-child(10) {
      @include column(1);
      @include line(2);
    }
    &:nth-child(11) {
      @include column(1);
      @include line(3);
    }
    &:nth-child(12) {
      @include column(1);
      @include line(4);
    }
    &:nth-child(13) {
      @include column(1);
      @include line(5);
    }
    &:nth-child(14) {
      @include column(1);
      @include line(6);
    }
    &:nth-child(15) {
      @include column(1);
      @include line(7);
    }
    &:nth-child(16) {
      @include column(1);
      @include line(8);
    }
    &:nth-child(17) {
      @include column(1);
      @include line(9);
    }
    &:nth-child(18) {
      @include column(1);
      @include line(10);
    }

    &:nth-child(19) {
      grid-column-start: 2;
      grid-column-end: 11;

      grid-row-start: 2;
      grid-row-end: 11;

      @include flexCenter();
    }

    &:nth-child(20) {
      @include column(11);
      @include line(1);
    }
    &:nth-child(21) {
      @include column(11);
      @include line(2);
    }
    &:nth-child(22) {
      @include column(11);
      @include line(3);
    }
    &:nth-child(23) {
      @include column(11);
      @include line(4);
    }
    &:nth-child(24) {
      @include column(11);
      @include line(5);
    }
    &:nth-child(25) {
      @include column(11);
      @include line(6);
    }
    &:nth-child(26) {
      @include column(11);
      @include line(7);
    }
    &:nth-child(27) {
      @include column(11);
      @include line(8);
    }
    &:nth-child(28) {
      @include column(11);
      @include line(9);
    }
    &:nth-child(29) {
      @include column(11);
      @include line(10);
    }
    &:nth-child(30) {
      @include column(11);
      @include line(11);
    }

    &:nth-child(31) {
      @include column(2);
      @include line(11);
    }
    &:nth-child(32) {
      @include column(3);
      @include line(11);
    }
    &:nth-child(33) {
      @include column(4);
      @include line(11);
    }
    &:nth-child(34) {
      @include column(5);
      @include line(11);
    }
    &:nth-child(35) {
      @include column(6);
      @include line(11);
    }
    &:nth-child(36) {
      @include column(7);
      @include line(11);
    }
    &:nth-child(37) {
      @include column(8);
      @include line(11);
    }
    &:nth-child(38) {
      @include column(9);
      @include line(11);
    }
    &:nth-child(39) {
      @include column(10);
      @include line(11);
    }
  }
}

.container {
  @include flexCenter();

  @include heightWidth(
    ($cellSize * 11.5),
    ($cellSize * 11.5)
  );
}
