$black: #4B4646;

$red: rgb(240, 6, 6);
$orange: #FFBB33;

$purple: #5519D8;

$greenDark: #09C667;
$green: #67e374;

$blue: #3EA5F9;
$blueAqua: #9DE5F9;
$blueDark: #0288D1;
$blueCian: #8FEAFA;
$blueLight: #DFF1FF;

$graySlate: #727C8E;
$grayDarker: #4B4646;
$grayDark: #605A5A;
$gray: #979797;
$grayHalfLight: #ADB5BD;
$grayLight: #E2E0E0;
$grayLighter: #F5F5F5;

$yellow: #FFBB33;

$white: #fff;
